@custom-media --o-safariONLY  (-webkit-hyphens: none);
@custom-media --o-firefoxONLY (-moz-appearance: none);
@custom-media --o-chromeONLY  (-webkit-tap-highlight-color: black);

:where(html) {
  --o-isLTR: 1;
  --o-isRTL: -1;
  
  &:dir(rtl) {
    --o-isLTR: -1;
    --o-isRTL: 1;
  }
}
