:where(html) {
  --o-highlight-size: 10px;
  --o-highlight-color: hsl(0 0% 0% / 20%);

  --o-highlight: 
    0 0 0 
    var(--o-highlight-size) 
    var(--o-highlight-color)
  ;

  @media (--o-OSdark) {
    --o-highlight-color: hsl(0 0% 100% / 20%);
  }
}